Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-bundle-137-on-push:
  params:
  - name: dockerfile
    value: olm-catalog/serverless-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_9_golang_1.24
  ...

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-137-fbc-420-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.20
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts:v4.14
  ...

serverless-index-138-fbc-416-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.16
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-index-138-fbc-421-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.21
  - name: build-args
    value:
    - VERSION=1.38.0
    - TAG=v1.21.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

Add older SO versions to OLM list (#4023)
  knative-operator/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
  serving/metadata-webhook/Dockerfile
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Config cleanup
  hack/lib/mesh3.bash
  hack/lib/mesh_v3_resources/02_istio.yaml
  test/servinge2e/servicemesh/longrunning/timeout_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Exclude probe port
  hack/lib/mesh_v3_resources/02_istio.yaml
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Update 4.22 fbc catalog graph
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions in catalog-template
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

[main] Update dependabot configurations
  .github/dependabot.yml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[main] Update dependabot configurations (#4024)
  .github/dependabot.yml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Revert port
  hack/lib/mesh_v3_resources/02_istio.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Temp skip longrunning test
  test/servinge2e/servicemesh/longrunning/timeout_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Try istio exitOnMainTermination in rekt-tests
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[main] Update dependabot configurations (#4034)
  .github/dependabot.yml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations (#4041)
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations
  .tekton/fbc-builder.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations (#4042)
  .tekton/fbc-builder.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Test pullspec replace
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations (#4043)
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Try native kube proxy injection
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Run make generated-files (#4045)
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Run make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4054)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Try exit on zero connections
  hack/lib/mesh_v3_resources/02_istio.yaml
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4056)
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Native sidecar with istio 1.27
  hack/lib/mesh_v3_resources/02_istio.yaml
  hack/lib/vars.bash
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Don't apply NP on the test serverless-tests namespace
  hack/lib/mesh3.bash
  hack/lib/mesh_v3_resources/01_subscription.yaml
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Fix NP generation in Eventing ns
  hack/lib/mesh_v3_resources/02_istio.yaml
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Update namespace labels
  hack/lib/mesh_v3_resources/04_namespace.yaml
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Custom channel chain test impl
  test/extensione2erekt/containersource_kafkachannel_ksvc_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-index-138-fbc-421-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.21/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-must-gather-138-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
