Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-ingress-on-push:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-serverless-tenant/serverless-operator-konflux/serverless-ingress:{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

serverless-kn-operator-135-on-push:
  params:
  - name: dockerfile
    value: knative-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-must-gather-135-on-pull-request:
  params:
  - name: dockerfile
    value: must-gather/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
    - GO_RUNTIME=registry.access.redhat.com/ubi8/ubi-minimal
  ...

serverless-openshift-knative-operator-on-pull-request:
  params:
  - name: dockerfile
    value: openshift-knative-operator/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
  ...

Update dependabot configurations
  .github/dependabot.yml
  renovate.json
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add a specific order to operator install stage
  olm-catalog/serverless-operator/hack/005-operator-install-order.patch
  vendor/knative.dev/operator/pkg/reconciler/common/install.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update dependabot configurations (#3609)
  .github/dependabot.yml
  renovate.json
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations (#3660)
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Create index image out of bundle images from Konflux
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator-index/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update bundle (run `make generated-files`)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update bundle (run `make generated-files`) (#3668)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Allow to skip override-snapshot creation in manual workflow run
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump eventing core to 1.17
  olm-catalog/serverless-operator/project.yaml
Due: none

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/3-in-memory-channel.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/4-mt-channel-broker.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/5-eventing-post-install.yaml
  openshift/ci-operator/source-image/Dockerfile
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Allow to skip override-snapshot creation in manual workflow run (#3670)
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Allow to skip override-snapshot creation in manual workflow run (#3675)
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump eventing core to 1.17 (#3672)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/3-in-memory-channel.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/4-mt-channel-broker.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/5-eventing-post-install.yaml
  openshift/ci-operator/source-image/Dockerfile
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump EKB core to 1.17
  olm-catalog/serverless-operator/project.yaml
Due: none

Run `make generated-files`
  knative-operator/deploy/resources/knativekafka/broker/eventing-kafka-broker.yaml
  knative-operator/deploy/resources/knativekafka/channel/eventing-kafka-channel.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-controller.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-post-install.yaml
  knative-operator/deploy/resources/knativekafka/sink/eventing-kafka-sink.yaml
  knative-operator/deploy/resources/knativekafka/source/eventing-kafka-source.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift/ci-operator/source-image/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump eventing-kafka-broker to 1.17 (#3679)
  knative-operator/deploy/resources/knativekafka/broker/eventing-kafka-broker.yaml
  knative-operator/deploy/resources/knativekafka/channel/eventing-kafka-channel.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-controller.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-post-install.yaml
  knative-operator/deploy/resources/knativekafka/sink/eventing-kafka-sink.yaml
  knative-operator/deploy/resources/knativekafka/source/eventing-kafka-source.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Fix workflow: Use github.event.inputs.skip-override-snapshot-gen to properly evaluate manual input
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Fix workflow: Use github.event.inputs.skip-override-snapshot-gen to properly evaluate manual input (#3681)
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Fix workflow: Use github.event.inputs.skip-override-snapshot-gen to properly evaluate manual input (#3682)
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump eventing-integrations to 1.17
  olm-catalog/serverless-operator/project.yaml
Due: none

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Bump eventing integrations to 1.17 (#3683)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: none

Bump eventing-istio to 1.17
  olm-catalog/serverless-operator/project.yaml
Due: none

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
