Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

Update serverless operator versions in catalog template
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

Update serverless operator versions in catalog
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

update v4.21 catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Update v4.22 catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

[release-1.37] Run make generated-files (#3961)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update 4.21 catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Update catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

[release-1.37] Run make generated-files (#3962)
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update v4.21 catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Update 4.22 catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions and bundles
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

Update serverless operator versions and bundles
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

Update 4.21 catalog
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Update 4.22 catalog
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions and images
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

Update v4.21 catlog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update v4.21 catalog update
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

Update catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

[release-1.37] Run make generated-files (#3966)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Run make generated-files
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Update serverless operator versions in catalog template
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none
