Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

don't assume MAP_TESTS is set
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4072, optionally map junit testsuite names for lp-interop reporting tool (#3938)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations (#3937)
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

update "previous" versions for upgrade tests
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

missed one
  olm-catalog/serverless-operator-index/v4.22/Dockerfile
Due: none

make generated-files
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift/ci-operator/source-image/Dockerfile
  rpms.lock.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator-index/v4.22/Dockerfile
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift/ci-operator/source-image/Dockerfile
  rpms.lock.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

workaround for KFLUXSPRT-6569 , use operator-registry:v4.21
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files` (#3953)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Run `make generated-files` (#3954)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
Due: none

Run `make generated-files` (#3955)
  olm-catalog/serverless-operator-index/Dockerfile
Due: none

update CSV with updated functions images
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Update v4.21 catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
Due: none

update v4.22 catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions and bundles
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

Update serverless operator versions in catalog
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

Update v4.22 catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions in v4.21 catalog-template
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

Update serverless-operator versions in v4.22 catalog-template
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
Due: none

Update serverless operator versions in catalog template
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
Due: none

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request
