Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-ingress-on-push:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-serverless-tenant/serverless-operator-konflux/serverless-ingress:{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

serverless-kn-operator-135-on-push:
  params:
  - name: dockerfile
    value: knative-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-openshift-knative-operator-on-pull-request:
  params:
  - name: dockerfile
    value: openshift-knative-operator/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
  ...

[release-1.35] Sync Konflux configurations
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use knative-main as tag for webhook
  serving/metadata-webhook/config/webhook.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use 4.17 image for MG
  .tekton/serverless-must-gather-135-pull-request.yaml
  must-gather/Dockerfile
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

lower timeout for soak tests (#3030)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use ose-cli image
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
  must-gather/Dockerfile
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

syntax
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations (#3044)
  .tekton/fbc-builder.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

lower CPU requests for dispatchers in kitchensink test (#3035)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use knative-main as tag for webhook (#3042)
  serving/metadata-webhook/config/webhook.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

long running request (#3038)
  hack/lib/vars.bash
  serving/ingress/pkg/reconciler/ingress/resources/route.go
  serving/ingress/pkg/reconciler/ingress/resources/route_test.go
  test/images.go
  test/lib.bash
  test/servinge2e/servicemesh/longrunning/timeout_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add license to bundle image
  olm-catalog/serverless-operator/Dockerfile
  templates/main.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add license to bundle image (#3050)
  olm-catalog/serverless-operator/Dockerfile
  templates/main.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Separate installing cert manager operator and certificates
  hack/lib/certmanager.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Drop kourier <> OSSM integration test as it is no longer supported
  test/servinge2e/kourier/servicemesh_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Bring over shared code from deleted test
  test/servinge2e/kourier/custom_route_test.go
  test/servinge2e/kourier/service_to_service_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Fix SO index
  olm-catalog/serverless-operator-index/Dockerfile
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Install yq v3 in bump workflow
  .github/workflows/bump.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add JobSink to sinksAll for Kitchensink tests
  go.mod
  go.sum
  test/eventinge2erekt/jobsink_ksvc_test.go
  test/kitchensinke2e/features/broker.go
  test/kitchensinke2e/features/components.go
  vendor/knative.dev/eventing/pkg/auth/serviceaccount.go
  vendor/knative.dev/eventing/test/rekt/features/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.yaml
  vendor/knative.dev/eventing/test/upgrade/prober/forwarder.go
  vendor/knative.dev/eventing/test/upgrade/prober/receiver.go
  vendor/knative.dev/eventing/test/upgrade/prober/sender.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Install yq v3 in bump workflow (#3057)
  .github/workflows/bump.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Manually bump to 1.36.0
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
  hack/generate/csv.sh
  hack/generate/dockerfile.sh
  hack/generate/images-rekt.sh
  hack/lib/images.bash
  must-gather/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/metadata/annotations.yaml
  olm-catalog/serverless-operator/project.yaml
  templates/index.Dockerfile
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-index-136-fbc-414-pull-request.yaml
  .tekton/serverless-index-136-fbc-414-push.yaml
  .tekton/serverless-index-136-fbc-415-pull-request.yaml
  .tekton/serverless-index-136-fbc-415-push.yaml
  .tekton/serverless-index-136-fbc-416-pull-request.yaml
  .tekton/serverless-index-136-fbc-416-push.yaml
  .tekton/serverless-index-136-fbc-417-pull-request.yaml
  .tekton/serverless-index-136-fbc-417-push.yaml
  .tekton/serverless-index-136-fbc-418-pull-request.yaml
  .tekton/serverless-index-136-fbc-418-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use bundle:latest image for index Dockerfile
  hack/generate/csv.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator-index/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add get_bundle_for_version to catalog.sh
  hack/generate/catalog.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Fix SO index (#3056)
  olm-catalog/serverless-operator-index/Dockerfile
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Recreate index Dockerfile instead of search and replace via dynamic env var
  hack/generate/catalog.sh
  hack/lib/catalogsource.bash
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Fix SO index (#3061)
  olm-catalog/serverless-operator-index/Dockerfile
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations (#3058)
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-index-136-fbc-414-pull-request.yaml
  .tekton/serverless-index-136-fbc-414-push.yaml
  .tekton/serverless-index-136-fbc-415-pull-request.yaml
  .tekton/serverless-index-136-fbc-415-push.yaml
  .tekton/serverless-index-136-fbc-416-pull-request.yaml
  .tekton/serverless-index-136-fbc-416-push.yaml
  .tekton/serverless-index-136-fbc-417-pull-request.yaml
  .tekton/serverless-index-136-fbc-417-push.yaml
  .tekton/serverless-index-136-fbc-418-pull-request.yaml
  .tekton/serverless-index-136-fbc-418-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Update release process to follow a specific order and remove conflicting updates
  .github/ISSUE_TEMPLATE/release.md
  Makefile
  hack/generate/update-pipelines.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Remove rootdir from variable
  hack/lib/catalogsource.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add JobSink to sinksAll for Kitchensink tests (#2984)
  go.mod
  go.sum
  test/eventinge2erekt/jobsink_ksvc_test.go
  test/kitchensinke2e/features/broker.go
  test/kitchensinke2e/features/components.go
  vendor/knative.dev/eventing/pkg/auth/serviceaccount.go
  vendor/knative.dev/eventing/test/rekt/features/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.yaml
  vendor/knative.dev/eventing/test/upgrade/prober/forwarder.go
  vendor/knative.dev/eventing/test/upgrade/prober/receiver.go
  vendor/knative.dev/eventing/test/upgrade/prober/sender.go
  vendor/knative.dev/eventing/test/upgrade/prober/verify.go
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add skopeo OS, arch overrides
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
