Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

[release-1.35] Sync Konflux configurations
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-413-pull-request.yaml
  .tekton/serverless-index-135-fbc-413-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

must-gather collects logs for all namespaces with Knative resources
  must-gather/bin/gather_knative
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVCOM-3372] Allow to override labels in knative-serving-ingress ns (#2992)
  docs/gitops/README.md
  docs/gitops/serverless/300-serving.yaml
  hack/patches/022-serving-ingress-ns-filter.patch
  knative-operator/Dockerfile
  knative-operator/pkg/controller/knativeserving/knativeserving_controller.go
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
  serving/metadata-webhook/Dockerfile
  templates/csv.yaml
  test/e2e/dashboards.go
  test/e2e/knative_serving_test.go
  vendor/knative.dev/operator/pkg/reconciler/knativeserving/knativeserving.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

must-gather collects logs for all namespaces with Knative resources (#2997)
  must-gather/bin/gather_knative
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations (#3005)
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-413-pull-request.yaml
  .tekton/serverless-index-135-fbc-413-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Bump OCP versions to minVersion: 4.14, maxVersion 4.18
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/csv.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

use 1.34.1, override the default main
  knative-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add must-gather image
  hack/generate/csv.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add kn-client shas
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Add Konflux event-sender plugin build to CSV
  hack/generate/csv.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make release-files` to upgrade to latest image SHAs
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Add Konflux client build to CSV
  hack/generate/csv.sh
  hack/generate/images-rekt.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Update event-sender plugin shas
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Add kn-client-artifacts to related images section in CSV
  hack/generate/csv.sh
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add Konflux client, event-sender plugin and must-gather images to CSV (#2983)
  hack/generate/csv.sh
  hack/generate/images-rekt.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

override activator termination grace period
  openshift-knative-operator/pkg/monitoring/rbac_proxy_injection.go
  openshift-knative-operator/pkg/serving/extension.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

make generated-files
  knative-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

restore csv
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Generate catalog for 4.17 with olm.csv.metadata
  hack/generate/catalog.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

allow to override default route timeout
  knative-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
  serving/ingress/pkg/reconciler/ingress/resources/route.go
  serving/ingress/pkg/reconciler/ingress/resources/route_test.go
  templates/csv.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Generate catalog for 4.17 with olm.csv.metadata (#3012)
  hack/generate/catalog.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

use const
  openshift-knative-operator/pkg/serving/extension.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Bump OCP versions to minVersion: 4.14, maxVersion 4.18 (#3001)
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/csv.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Add upgrade patch to pass on z-stream
  hack/patches/remove_DeploymentFailurePostUpgrade.patch
  vendor/knative.dev/serving/test/upgrade/postupgrade.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

bump project metadata to 1.33.3
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/index/Dockerfile
  olm-catalog/serverless-operator/index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: none

allow to override default route timeout (#3013)
  knative-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
  serving/ingress/pkg/reconciler/ingress/resources/route.go
  serving/ingress/pkg/reconciler/ingress/resources/route_test.go
  templates/csv.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

allow to override default route timeout
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  serving/ingress/pkg/reconciler/ingress/resources/route.go
  serving/ingress/pkg/reconciler/ingress/resources/route_test.go
  templates/csv.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

[RELEASE-1.34][SRVKS-1286] Override activator termination grace period (#3011)
  openshift-knative-operator/pkg/monitoring/rbac_proxy_injection.go
  openshift-knative-operator/pkg/serving/extension.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Use LOGS_DIR env from Dockerfile
  must-gather/bin/gather
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Adjust Dockerfile to hack repo
  must-gather/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Update must-gather Dockerfile and script to use env for logs dir (#3018)
  must-gather/Dockerfile
  must-gather/bin/gather
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Make generated-files
  must-gather/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request

Update previous version config
  olm-catalog/serverless-operator/project.yaml
Due: none

Specify the expected version of resources in downgrade error message
  test/upgrade/installation/serverless.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-openshift-knative-operator-on-pull-request
