Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-137-fbc-420-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.20
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts:v4.14
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-ingress-on-push:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-serverless-tenant/serverless-operator-konflux/serverless-ingress:{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

serverless-kn-operator-135-on-push:
  params:
  - name: dockerfile
    value: knative-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-must-gather-135-on-pull-request:
  params:
  - name: dockerfile
    value: must-gather/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
    - GO_RUNTIME=registry.access.redhat.com/ubi8/ubi-minimal
  ...

make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
Due: none

:dizzy: Bump to Strimzi 0.46.1 operator and clean kafka cfg
  hack/lib/strimzi.bash
  hack/lib/vars.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update knative.dev/eventing component
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/hashicorp/go-retryablehttp/.go-version
  vendor/github.com/hashicorp/go-retryablehttp/.golangci.yml
  vendor/github.com/hashicorp/go-retryablehttp/CODEOWNERS
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/knative.dev/eventing/test/rekt/features/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.go
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

update golangci-lint version
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update knative.dev/eventing component (#3772)
  .github/workflows/validate.yaml
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v3/jwe.go
  vendor/github.com/go-jose/go-jose/v3/jws.go
  vendor/github.com/hashicorp/go-retryablehttp/.go-version
  vendor/github.com/hashicorp/go-retryablehttp/.golangci.yml
  vendor/github.com/hashicorp/go-retryablehttp/CODEOWNERS
  vendor/github.com/hashicorp/go-retryablehttp/Makefile
  vendor/github.com/hashicorp/go-retryablehttp/client.go
  vendor/knative.dev/eventing/test/rekt/features/jobsink/jobsink.go
  vendor/knative.dev/eventing/test/rekt/resources/jobsink/jobsink.go
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVKE-1732] EventTransform coverage in SO Kitchensink tests
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
  test/kitchensinke2e/features/broker.go
  test/kitchensinke2e/features/components.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.yaml
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVKE-1743 Add EventTransform to SO e2e test
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/eventinge2erekt/eventtransform_ksvc_test.go
  test/images-rekt.yaml
  vendor/knative.dev/eventing/test/rekt/features/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.yaml
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVKE-1743 Add EventTransform to SO e2e test
  test/eventinge2erekt/eventtransform_ksvc_test.go
  vendor/knative.dev/eventing/test/rekt/features/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.yaml
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

kitchensink upgrade, skip skipped micro versions
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

kitchensink upgrade, remove jobsink
  test/kitchensinke2e/features/broker.go
  test/kitchensinke2e/features/flow.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVKE-1743 Add EventTransform to SO e2e test (#3756)
  test/eventinge2erekt/eventtransform_ksvc_test.go
  vendor/knative.dev/eventing/test/rekt/features/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.yaml
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVKE-1732] EventTransform coverage in SO Kitchensink tests
  test/kitchensinke2e/features/broker.go
  test/kitchensinke2e/features/components.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

use our test catalogsource in kitchensink upgrade tests
  test/subscription.go
  test/upgrade/kitchensink/kitchensink_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

shellcheck
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

use DefaultInstallPlanTimeout
  test/upgrade/kitchensink/kitchensink_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update dependabot configurations
  .github/dependabot.yml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Bump patch version for 1.36 to 1.36.1
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  must-gather/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

fix lint error
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

use base opm as from origin/scos-4.19
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/v4.14/Dockerfile
  olm-catalog/serverless-operator-index/v4.15/Dockerfile
  olm-catalog/serverless-operator-index/v4.16/Dockerfile
  olm-catalog/serverless-operator-index/v4.17/Dockerfile
  olm-catalog/serverless-operator-index/v4.18/Dockerfile
  olm-catalog/serverless-operator-index/v4.19/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/catalog.Dockerfile
  templates/index.Dockerfile
  templates/test-source-image.Dockerfile
  test/images-rekt.yaml
Due: serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

run make generated-files
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Bump patch version for 1.36 to 1.36.1 (#3778)
  .github/workflows/validate.yaml
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  must-gather/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator-index/v4.14/Dockerfile
  olm-catalog/serverless-operator-index/v4.15/Dockerfile
  olm-catalog/serverless-operator-index/v4.16/Dockerfile
  olm-catalog/serverless-operator-index/v4.17/Dockerfile
  olm-catalog/serverless-operator-index/v4.18/Dockerfile
  olm-catalog/serverless-operator-index/v4.19/Dockerfile
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/catalog.Dockerfile
  templates/index.Dockerfile
  templates/test-source-image.Dockerfile
  test/images-rekt.yaml
Due: serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

add ocp 4.20
  hack/generate/csv.sh
  hack/generate/dockerfile.sh
  hack/generate/override-snapshot.sh
  hack/generate/quickstart.sh
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/policy.json
  olm-catalog/serverless-operator-index/v4.20/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/index.Dockerfile
  test/images-rekt.yaml
Due: serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

add ocp 4.20 (#3779)
  hack/generate/csv.sh
  hack/generate/dockerfile.sh
  hack/generate/override-snapshot.sh
  hack/generate/quickstart.sh
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/policy.json
  olm-catalog/serverless-operator-index/v4.20/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/index.Dockerfile
  test/images-rekt.yaml
Due: serverless-index-137-fbc-420-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

fixes bundle generation for .micro >=.2 versions
  Makefile
  hack/generate/annotations.sh
  hack/generate/catalog.sh
  hack/generate/dockerfile.sh
  hack/generate/index.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/project.yaml
  templates/index.Dockerfile
  templates/main.Dockerfile
  test/lib.bash
  test/upgrade/kitchensink/kitchensink_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

fixes
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

hack/generate/index-bundles.sh
  olm-catalog/serverless-operator-index/index-bundles.yaml
Due: none

make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

make generated-files
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

missed the actual script
  hack/generate/index-bundles.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

use kafkasource v1beta1 in kitchensink (for upgrade tests)
  test/kitchensinke2e/features/components.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

kitchensik test, use kafkasource v1beta1 also for readiness checks
  test/kitchensinke2e/features/components.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

skip EventTransform with SM enabled, SRVKE-1751
  test/eventinge2erekt/eventtransform_ksvc_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[main] micro version bundle generation fixes (#3781)
  Makefile
  hack/generate/annotations.sh
  hack/generate/catalog.sh
  hack/generate/dockerfile.sh
  hack/generate/index-bundles.sh
  hack/generate/index.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/index-bundles.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  templates/index.Dockerfile
  templates/main.Dockerfile
  test/eventinge2erekt/eventtransform_ksvc_test.go
  test/images-rekt.yaml
  test/kitchensinke2e/features/components.go
  test/lib.bash
  test/upgrade/kitchensink/kitchensink_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
