Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-bundle-137-on-push:
  params:
  - name: dockerfile
    value: olm-catalog/serverless-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_9_golang_1.24
  ...

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-137-fbc-420-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.20
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts:v4.14
  ...

serverless-index-138-fbc-416-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.16
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-index-138-fbc-421-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.21
  - name: build-args
    value:
    - VERSION=1.38.0
    - TAG=v1.21.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

Add metrics migration guide
  knative-operator/deploy/resources/dashboards/DASHBOARD_MIGRATION_GUIDE.md
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push

Add retry on transient error
  test/eventinge2erekt/features/encryption.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Fix response code check
  test/extensione2erekt/features/encryption.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/ingress/latest/kourier/1-net-kourier.yaml
  rpms.lock.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Tone down log levels
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4064)
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/ingress/latest/kourier/1-net-kourier.yaml
  rpms.lock.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4079)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Add WaitForKafkaSourceDispatcherReady
  test/e2e-tests.sh
  test/eventinge2e/user_permissions_notest.go
  test/extensione2e/kafka/user_permissions_notest.go
  test/extensione2erekt/features/kafkasource_readiness.go
  test/extensione2erekt/kafkasource_ksvc_test.go
  test/servinge2e/servicemesh/longrunning/timeout_test.go
  test/servinge2e/user_permissions_notest.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .github/workflows/dependabot-deps.yaml
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-index-136-fbc-414-pull-request.yaml
  .tekton/serverless-index-136-fbc-414-push.yaml
  .tekton/serverless-index-136-fbc-415-pull-request.yaml
  .tekton/serverless-index-136-fbc-415-push.yaml
  .tekton/serverless-index-136-fbc-416-pull-request.yaml
  .tekton/serverless-index-136-fbc-416-push.yaml
  .tekton/serverless-index-136-fbc-417-pull-request.yaml
  .tekton/serverless-index-136-fbc-417-push.yaml
  .tekton/serverless-index-136-fbc-418-pull-request.yaml
  .tekton/serverless-index-136-fbc-418-push.yaml
  .tekton/serverless-index-136-fbc-419-pull-request.yaml
  .tekton/serverless-index-136-fbc-419-push.yaml
  .tekton/serverless-index-136-fbc-420-pull-request.yaml
  .tekton/serverless-index-136-fbc-420-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .github/workflows/dependabot-deps.yaml
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-pull-request.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .github/workflows/dependabot-deps.yaml
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-412-pull-request.yaml
  .tekton/serverless-index-137-fbc-412-push.yaml
  .tekton/serverless-index-137-fbc-413-pull-request.yaml
  .tekton/serverless-index-137-fbc-413-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Add permissive peer auth
  hack/lib/mesh3.bash
  hack/lib/mesh_v3_resources/07b_autoscaler_peer_authentication.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Use original long running timeout
  test/servinge2e/servicemesh/longrunning/timeout_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Set default metrics-protocol to prometheus for backward compatibility
  openshift-knative-operator/pkg/monitoring/helpers.go
  openshift-knative-operator/pkg/serving/extension.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Update unit tests for new metrics-protocol defaults
  openshift-knative-operator/pkg/eventing/extension_test.go
  openshift-knative-operator/pkg/serving/extension_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

update golang to 1.25, ocp default version to 4.21
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/build-image/Dockerfile
  rpms.lock.yaml
  templates/build-image.Dockerfile
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

rerun failed serving builds && generated files
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

[release-1.37] update golang to 1.25, ocp default version to 4.21 (#4082)
  knative-operator/deploy/resources/quickstart/serverless-application-quickstart.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift/ci-operator/build-image/Dockerfile
  rpms.lock.yaml
  templates/build-image.Dockerfile
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Restore notest files
  test/eventinge2e/user_permissions_test.go
  test/extensione2e/kafka/user_permissions_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Restore tests execution
  test/e2e-tests.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[main] Update dependabot configurations
  renovate.json
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[main] Update dependabot configurations (#4085)
  renovate.json
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4302: Set default metrics-protocol to prometheus (#4081)
  openshift-knative-operator/pkg/eventing/extension_test.go
  openshift-knative-operator/pkg/monitoring/helpers.go
  openshift-knative-operator/pkg/serving/extension.go
  openshift-knative-operator/pkg/serving/extension_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Exclude kafka-dispatcher from mesh
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Use only currently available metrics in the scaling-debugging dash
  knative-operator/deploy/resources/dashboards/serving/grafana-dash-knative-serving-scaling-debugging.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push

Use only currently available metrics in the scaling-debugging dash (#4087)
  knative-operator/deploy/resources/dashboards/serving/grafana-dash-knative-serving-scaling-debugging.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

patch the version of gotestsum
  hack/patches/024-gotestsum-version.patch
  vendor/knative.dev/hack/library.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

try to hack gotestsum in the EKB repo as well
  test/eventing-kafka.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

patch eventing-istio
  test/eventing.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVCOM-4102] add OLMv1 support to upgrade tests
  hack/lib/serverless.bash
  test/clusterextension.go
  test/flags.go
  test/lib.bash
  test/upgrade/installation/serverless.go
  test/upgrade/installation/serverless_olmv0.go
  test/upgrade/installation/serverless_olmv1.go
  test/upgrade/kitchensink/kitchensink_test.go
  test/upgrade/upgrade.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Update Knative modules to latest release-1.21 revisions
  go.mod
  go.sum
  vendor/github.com/aws/aws-sdk-go-v2/aws/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/protocol/query/middleware.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/retry/middleware.go
  vendor/github.com/aws/aws-sdk-go-v2/aws/transport/http/client.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/configsources/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/internal/configsources/config.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/configsources/endpoints.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/configsources/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/awsrulesfn/partitions.json
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/v2/CHANGELOG.md
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/v2/endpoints.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/endpoints/v2/go_module_metadata.go
  vendor/github.com/aws/aws-sdk-go-v2/internal/middleware/middleware.go
  vendor/github.com/aws/smithy-go/CHANGELOG.md
  vendor/github.com/aws/smithy-go/README.md
  vendor/github.com/aws/smithy-go/go_module_metadata.go
  vendor/github.com/aws/smithy-go/middleware/eventstream_middleware.go
  vendor/github.com/openshift/api/config/v1/types_authentication.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/golang.org/x/sys/plan9/syscall_plan9.go
  vendor/golang.org/x/sys/unix/ztypes_linux.go
  vendor/golang.org/x/sys/windows/aliases.go
  vendor/golang.org/x/sys/windows/registry/key.go
  vendor/golang.org/x/sys/windows/syscall_windows.go
  vendor/knative.dev/eventing/pkg/apis/sources/v1/sinkbinding_lifecycle.go
  vendor/knative.dev/eventing/pkg/eventingtls/eventingtlstesting/eventingtlstesting.go
  vendor/knative.dev/eventing/pkg/eventingtls/trust_bundle.go
  vendor/knative.dev/hack/library.sh
  vendor/knative.dev/pkg/network/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/knative.dev/reconciler-test/pkg/k8s/job.go
  vendor/knative.dev/reconciler-test/pkg/k8s/steps.go
  vendor/knative.dev/reconciler-test/pkg/k8s/wait.go
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Add retry on envoy's virtualservice 404
  vendor/knative.dev/pkg/test/spoof/openshift_checks.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4080)
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-index-138-fbc-421-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.21/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-must-gather-138-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
