Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-ingress-main-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

Fix name
  hack/generate/catalog.sh
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Option to force Konflux Index
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use current OCP version for index image
  hack/lib/images.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

soak, lower kafka-source-dispatcher CPU requests
  test/lib.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

support console unmanaged mode (#2950)
  knative-operator/pkg/controller/knativeserving/consoleutil/util.go
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push

support console unmanaged mode
  knative-operator/pkg/controller/knativeserving/consoleutil/util.go
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push

soak, lower kafka-source-dispatcher CPU requests (#2955)
  test/lib.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

support console unmanaged mode (#2956)
  knative-operator/pkg/controller/knativeserving/consoleutil/util.go
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push

Run make generated-files
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e0.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e2.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e3.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e4.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serverless-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serving-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-2.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e0.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e2.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e3.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e4.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serverless-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serving-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-2.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use production ready service mesh proxy image for Kourier
  hack/generate/catalog.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/project.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Regen CSV
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Use production ready service mesh proxy image for Kourier (#2959)
  hack/generate/catalog.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Parse major and minor version from current OCP
  hack/lib/images.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Parse major and minor version from current OCP (#2961)
  hack/lib/images.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use production ready kube-rbac-proxy from registry.redhat.io
  hack/generate/catalog.sh
  hack/generate/csv.sh
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use production ready kube-rbac-proxy from registry.redhat.io (#2962)
  hack/generate/catalog.sh
  hack/generate/csv.sh
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Option to force Konflux Index (#2954)
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Fix bundle labels and CSV annotations enterprise contract failures
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  templates/csv.yaml
  templates/main.Dockerfile
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Remove -rhelX suffix from image references in ImageContentSourcePolicy as they should point to quay
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Add -rhelX suffix to image references in CSV
  Makefile
  hack/lib/images.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Run make release-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Do not fail if FORCE_KONFLUX_INDEX is undefined
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Do not fail if FORCE_KONFLUX_INDEX is undefined (#2969)
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Update Makefile to install sorhel everywhere we use install.sh
  Makefile
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use one maketarget to install all tools
  Makefile
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Add rhel suffix to ICSP file too
  olm-catalog/serverless-operator-index/image_content_source_policy.yaml
Due: none

Don't replace registry.rh.io images with quay.io references
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use correct repo for serverless-openshift-kn-operator
  hack/lib/catalogsource.bash
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Get images from CSV
  hack/lib/catalogsource.bash
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Add rhel suffix to image references (#2968)
  Makefile
  hack/lib/catalogsource.bash
  hack/lib/images.bash
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/image_content_source_policy.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-413-pull-request.yaml
  .tekton/serverless-index-135-fbc-413-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations (#2967)
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-413-pull-request.yaml
  .tekton/serverless-index-135-fbc-413-push.yaml
  .tekton/serverless-index-135-fbc-414-pull-request.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-pull-request.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-pull-request.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-pull-request.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Update olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Fix bundle labels and CSV annotations enterprise contract failures (#2964)
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  templates/csv.yaml
  templates/main.Dockerfile
Due: serverless-ingress-main-on-pull-request, serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request
