Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

[release-1.35] Sync Konflux configurations (#3279)
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-135-pull-request.yaml
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-ingress-135-pull-request.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-pull-request.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-pull-request.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-pull-request.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump image references
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Bump image references (#3335)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Add revision alignment check for images in CSV
  Makefile
  hack/lib/images.bash
  hack/verify-csv-revisions.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations (#3333)
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations (#3278)
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add revision alignment check for images in CSV (#3338)
  Makefile
  hack/lib/images.bash
  hack/verify-csv-revisions.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add workflow for CSV revision alignment check
  .github/workflows/csv-revision-check.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Ensure ImageContentSourcePolicy
  hack/install.sh
  hack/lib/catalogsource.bash
  hack/lib/images.bash
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add new Makefile target to verify the component images of the CSV have no CVEs
  Makefile
  hack/verify-csv-revisions.sh
  hack/verify-csv.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Fix prefix check
  hack/lib/images.bash
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Make the name of the override-snapshot predictable
  hack/generate/override-snapshot.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add target to apply override-snapshot
  Makefile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Make the name of the override-snapshot predictable (#3344)
  hack/generate/override-snapshot.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add target to apply override-snapshot (#3345)
  Makefile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update override-snapshot names to reflect latest applied snapshots
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Exclude override-snapshot name from diff check
  hack/verify-diff.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Exclude override-snapshot generateName from diff check
  hack/verify-diff.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Inject Istio sidecars in job-sink deployment for tests
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Inject Istio sidecar for JobSink
  hack/lib/serverless.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump skopeo to 1.17.0
  Makefile
  openshift/ci-operator/build-image/Dockerfile
  templates/build-image.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Make the name of the override-snapshot predictable (#3348)
  hack/generate/override-snapshot.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update templates/build-image.Dockerfile
  templates/build-image.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Update override-snapshot names to reflect latest applied snapshots (#3349)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot.yaml
  hack/verify-diff.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Bump skopeo to 1.17.0 (#3352)
  Makefile
  openshift/ci-operator/build-image/Dockerfile
  templates/build-image.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add branch label to generated override snapshots
  hack/generate/override-snapshot.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Re-generate snapshots
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

skopeo retry-times
  hack/generate/catalog.sh
  hack/generate/override-snapshot.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .github/workflows/validate.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e0.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e2.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e3.yaml
  hack/lib/mesh_resources/authorization-policies/helm/eventing-e2e4.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serverless-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/serving-tests.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-1.yaml
  hack/lib/mesh_resources/authorization-policies/helm/tenant-2.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request
