Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-bundle-137-on-push:
  params:
  - name: dockerfile
    value: olm-catalog/serverless-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_9_golang_1.24
  ...

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-137-fbc-420-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.20
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts:v4.14
  ...

serverless-index-138-fbc-416-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.16
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-index-138-fbc-421-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.21
  - name: build-args
    value:
    - VERSION=1.38.0
    - TAG=v1.21.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

[release-1.38] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-138-pull-request.yaml
  .tekton/serverless-bundle-138-push.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
  .tekton/serverless-ingress-138-pull-request.yaml
  .tekton/serverless-ingress-138-push.yaml
  .tekton/serverless-kn-operator-138-pull-request.yaml
  .tekton/serverless-kn-operator-138-push.yaml
  .tekton/serverless-metadata-webhook-138-pull-request.yaml
  .tekton/serverless-metadata-webhook-138-push.yaml
  .tekton/serverless-must-gather-138-pull-request.yaml
  .tekton/serverless-must-gather-138-push.yaml
  .tekton/serverless-openshift-kn-operator-138-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-138-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .github/workflows/dependabot-deps.yaml
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-136-pull-request.yaml
  .tekton/serverless-bundle-136-push.yaml
  .tekton/serverless-index-136-fbc-414-pull-request.yaml
  .tekton/serverless-index-136-fbc-414-push.yaml
  .tekton/serverless-index-136-fbc-415-pull-request.yaml
  .tekton/serverless-index-136-fbc-415-push.yaml
  .tekton/serverless-index-136-fbc-416-pull-request.yaml
  .tekton/serverless-index-136-fbc-416-push.yaml
  .tekton/serverless-index-136-fbc-417-pull-request.yaml
  .tekton/serverless-index-136-fbc-417-push.yaml
  .tekton/serverless-index-136-fbc-418-pull-request.yaml
  .tekton/serverless-index-136-fbc-418-push.yaml
  .tekton/serverless-index-136-fbc-419-pull-request.yaml
  .tekton/serverless-index-136-fbc-419-push.yaml
  .tekton/serverless-index-136-fbc-420-pull-request.yaml
  .tekton/serverless-index-136-fbc-420-push.yaml
  .tekton/serverless-ingress-136-pull-request.yaml
  .tekton/serverless-ingress-136-push.yaml
  .tekton/serverless-kn-operator-136-pull-request.yaml
  .tekton/serverless-kn-operator-136-push.yaml
  .tekton/serverless-metadata-webhook-136-pull-request.yaml
  .tekton/serverless-metadata-webhook-136-push.yaml
  .tekton/serverless-must-gather-136-pull-request.yaml
  .tekton/serverless-must-gather-136-push.yaml
  .tekton/serverless-openshift-kn-operator-136-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-136-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[main] update to golang 1.26 (#4172)
  knative-operator/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift-knative-operator/Dockerfile
  openshift/ci-operator/build-image/Dockerfile
  rpms.lock.yaml
  serving/ingress/Dockerfile
  serving/metadata-webhook/Dockerfile
  templates/build-image.Dockerfile
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-index-137-fbc-423-pull-request.yaml
  .tekton/serverless-index-137-fbc-423-push.yaml
  .tekton/serverless-index-137-fbc-50-pull-request.yaml
  .tekton/serverless-index-137-fbc-50-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations (#4181)
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-index-137-fbc-423-pull-request.yaml
  .tekton/serverless-index-137-fbc-423-push.yaml
  .tekton/serverless-index-137-fbc-50-pull-request.yaml
  .tekton/serverless-index-137-fbc-50-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  rpms.lock.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files` (#4183)
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  rpms.lock.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot-fbc-423.yaml
  .konflux-release/override-snapshot-fbc-50.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4184)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot-fbc-423.yaml
  .konflux-release/override-snapshot-fbc-50.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add feature categorization to CSV's relatedImages
  hack/generate/csv.sh
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  rpms.lock.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4185)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4187)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4188)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
Due: serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

update rebuild sha's
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
Due: none

update rebuild sha's
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
Due: none

Update serverless operator versions in catalog template
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
Due: none

Update serverless operator versions in catalog template
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
Due: none

[release-1.37] Run make generated-files (#4189)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
Due: serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot-fbc-423.yaml
  .konflux-release/override-snapshot-fbc-50.yaml
  .konflux-release/override-snapshot.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Update tekton_buildah image digest in project.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Update serverless operator versions in catalog
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
Due: none

Update print statement from 'Hello' to 'Goodbye'
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
Due: none

Add serverless-operator version 1.37.2
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
Due: none

update sha's
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
Due: none

[release-1.37] Run make generated-files (#4190)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot-fbc-423.yaml
  .konflux-release/override-snapshot-fbc-50.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Run make generated-files
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  rpms.lock.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-index-137-fbc-423-pull-request.yaml
  .tekton/serverless-index-137-fbc-423-push.yaml
  .tekton/serverless-index-137-fbc-50-pull-request.yaml
  .tekton/serverless-index-137-fbc-50-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations (#4193)
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-index-137-fbc-421-pull-request.yaml
  .tekton/serverless-index-137-fbc-421-push.yaml
  .tekton/serverless-index-137-fbc-422-pull-request.yaml
  .tekton/serverless-index-137-fbc-422-push.yaml
  .tekton/serverless-index-137-fbc-423-pull-request.yaml
  .tekton/serverless-index-137-fbc-423-push.yaml
  .tekton/serverless-index-137-fbc-50-pull-request.yaml
  .tekton/serverless-index-137-fbc-50-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Run make generated-files (#4191)
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot-fbc-419.yaml
  .konflux-release/override-snapshot-fbc-420.yaml
  .konflux-release/override-snapshot-fbc-421.yaml
  .konflux-release/override-snapshot-fbc-422.yaml
  .konflux-release/override-snapshot-fbc-423.yaml
  .konflux-release/override-snapshot-fbc-50.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.14/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.15/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.16/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.17/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.18/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.19/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.20/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.21/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.22/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog-template.yaml
  olm-catalog/serverless-operator-index/v4.23/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog-template.yaml
  olm-catalog/serverless-operator-index/v5.0/catalog/serverless-operator/catalog.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-index-138-fbc-421-on-pull-request, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-must-gather-138-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-index-138-fbc-421-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.21/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-must-gather-138-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
