Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/

don't add 1.35.x to stable channel
  olm-catalog/serverless-operator/project.yaml
Due: none

check bundle version before adding to the catalog
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

don't add OCP 4.19, 4.20 yet
  olm-catalog/serverless-operator/project.yaml
Due: none

no stable channel please
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift/ci-operator/source-image/Dockerfile
  templates/main.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations (#3753)
  .tekton/serverless-bundle-137-pull-request.yaml
  .tekton/serverless-bundle-137-push.yaml
  .tekton/serverless-index-137-fbc-414-pull-request.yaml
  .tekton/serverless-index-137-fbc-414-push.yaml
  .tekton/serverless-index-137-fbc-415-pull-request.yaml
  .tekton/serverless-index-137-fbc-415-push.yaml
  .tekton/serverless-index-137-fbc-416-pull-request.yaml
  .tekton/serverless-index-137-fbc-416-push.yaml
  .tekton/serverless-index-137-fbc-417-pull-request.yaml
  .tekton/serverless-index-137-fbc-417-push.yaml
  .tekton/serverless-index-137-fbc-418-pull-request.yaml
  .tekton/serverless-index-137-fbc-418-push.yaml
  .tekton/serverless-index-137-fbc-419-pull-request.yaml
  .tekton/serverless-index-137-fbc-419-push.yaml
  .tekton/serverless-index-137-fbc-420-pull-request.yaml
  .tekton/serverless-index-137-fbc-420-push.yaml
  .tekton/serverless-ingress-137-pull-request.yaml
  .tekton/serverless-ingress-137-push.yaml
  .tekton/serverless-kn-operator-137-pull-request.yaml
  .tekton/serverless-kn-operator-137-push.yaml
  .tekton/serverless-metadata-webhook-137-pull-request.yaml
  .tekton/serverless-metadata-webhook-137-push.yaml
  .tekton/serverless-must-gather-137-pull-request.yaml
  .tekton/serverless-must-gather-137-push.yaml
  .tekton/serverless-openshift-kn-operator-137-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-137-push.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

SRVKE-1743 Add EventTransform to SO e2e test
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/eventinge2erekt/eventtransform_ksvc_test.go
  vendor/knative.dev/eventing/test/rekt/features/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.go
  vendor/knative.dev/eventing/test/rekt/resources/eventtransform/eventtransform.yaml
  vendor/modules.txt
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add mirrors in ImageContentSourcePolicy and ImageMirrorSet for next SO version too
  hack/generate/catalog.sh
  hack/lib/catalogsource.bash
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

make generate-override-snapshot
  .konflux-release/override-snapshot-fbc-414.yaml
  .konflux-release/override-snapshot-fbc-415.yaml
  .konflux-release/override-snapshot-fbc-416.yaml
  .konflux-release/override-snapshot-fbc-417.yaml
  .konflux-release/override-snapshot-fbc-418.yaml
  .konflux-release/override-snapshot.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Run make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

update project metadata for 1.35.2
  olm-catalog/serverless-operator/project.yaml
Due: none

make generated-files
  .tekton/serverless-bundle-135-push.yaml
  .tekton/serverless-index-135-fbc-414-push.yaml
  .tekton/serverless-index-135-fbc-415-push.yaml
  .tekton/serverless-index-135-fbc-416-push.yaml
  .tekton/serverless-index-135-fbc-417-push.yaml
  .tekton/serverless-index-135-fbc-418-push.yaml
  .tekton/serverless-ingress-135-push.yaml
  .tekton/serverless-kn-operator-135-push.yaml
  .tekton/serverless-metadata-webhook-135-push.yaml
  .tekton/serverless-must-gather-135-push.yaml
  .tekton/serverless-openshift-kn-operator-135-push.yaml
  must-gather/Dockerfile
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  test/images-rekt.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.36] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.37] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

hack to add 1.35.2 just to stable-1.35, but not to stable
  hack/generate/annotations.sh
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator/project.yaml
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/metadata/annotations.yaml
Due: none

separate "default" channel meanings
  hack/generate/annotations.sh
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator/project.yaml
  templates/index.Dockerfile
  templates/main.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

backport certmanager workaround updates
  hack/lib/certmanager.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

Add mirrors in ImageContentSourcePolicy and ImageMirrorSet for next SO version too (#3762)
  hack/generate/catalog.sh
  hack/lib/catalogsource.bash
  hack/lib/images.bash
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

fix certmanager
  hack/lib/certmanager.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

fix index.yaml generation wrt. micro releases
  hack/generate/index.sh
  hack/lib/vars.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

generated files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index.yaml
Due: none

fix opm bundle list generation wrt. micro versions
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator-index/Dockerfile
  test/images-rekt.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

[release-1.35] Update Konflux references
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
Due: serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

try to use released bundles for previous versions in the index
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

update golangci-lint version
  .github/workflows/validate.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

use CI/Konflux tagged bundle images for serverless-operator-index
  hack/generate/dockerfile.sh
  olm-catalog/serverless-operator-index/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

move opm rendering of previous bundles into generated-files
  Makefile
  hack/generate/dockerfile.sh
  hack/generate/index-bundles.sh
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

make generated-files
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator-index/configs/index-bundles.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

move generating previous bundles to the "make generate-catalog"
  Makefile
  hack/generate/index-bundles.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request

move index-bundles.yaml out of config/ to not pollute opm serve dir
  Makefile
  olm-catalog/serverless-operator-index/index-bundles.yaml
  templates/index.Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-openshift-knative-operator-on-pull-request
