Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-ingress-on-push:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-serverless-tenant/serverless-operator-konflux/serverless-ingress:{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

serverless-openshift-knative-operator-on-pull-request:
  params:
  - name: dockerfile
    value: openshift-knative-operator/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: image-expires-after
    value: 5d
  - name: output-image
  ...

make generated-files
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/index/Dockerfile
  olm-catalog/serverless-operator/index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: none

Revert "Authenticate Podman with QCI registry (#2773)" (#2789)
  .github/workflows/release-generate-ci.yaml
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Revert "Authenticate Podman with QCI registry (#2772)" (#2787)
  .github/workflows/release-generate-ci.yaml
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Replaces x.y.0 version
  olm-catalog/serverless-operator/index/Dockerfile
  olm-catalog/serverless-operator/index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: none

Remove failing DeploymentFailurePostUpgrade test
  hack/patches/remove_DeploymentFailurePostUpgrade.patch
  vendor/knative.dev/serving/test/upgrade/postupgrade.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

tempo tracing backend (#2751)
  hack/lib/tracing.bash
  hack/lib/vars.bash
  test/servinge2e/tracing_test.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.32] Bump to 1.32.2 (#2786)
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/index/Dockerfile
  olm-catalog/serverless-operator/index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: none

[release-1.33] Bump to 1.33.2 (#2788)
  hack/patches/remove_DeploymentFailurePostUpgrade.patch
  olm-catalog/serverless-operator/Dockerfile
  olm-catalog/serverless-operator/index/Dockerfile
  olm-catalog/serverless-operator/index/configs/index.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  vendor/knative.dev/serving/test/upgrade/postupgrade.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Remove TTLSecondsAfterFinished from Eventing jobs (#2779)
  knative-operator/pkg/controller/knativekafka/knativekafka_controller.go
  openshift-knative-operator/pkg/common/job.go
  openshift-knative-operator/pkg/common/job_test.go
  openshift-knative-operator/pkg/eventing/extension.go
  test/e2e/knative_eventing_test.go
  test/e2ekafka/knative_kafka_test.go
  test/upgrade/verify_jobs.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Add E2E test
  openshift-knative-operator/pkg/common/job_test.go
  test/e2e/knative_eventing_test.go
  test/e2ekafka/knative_kafka_test.go
  test/upgrade/verify_jobs.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Remove TTLSecondsAfterFinished from Eventing jobs
  knative-operator/pkg/controller/knativekafka/knativekafka_controller.go
  openshift-knative-operator/pkg/common/job.go
  openshift-knative-operator/pkg/common/job_test.go
  openshift-knative-operator/pkg/eventing/extension.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use pointer, ptr is not available
  openshift-knative-operator/pkg/common/job_test.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

bring up the hookserver
  knative-operator/cmd/manager/main.go
Due: serverless-ingress-on-push

add comment
  knative-operator/cmd/manager/main.go
Due: serverless-ingress-on-push

[release-1.32] Remove TTLSecondsAfterFinished from Eventing jobs (#2791)
  knative-operator/pkg/controller/knativekafka/knativekafka_controller.go
  openshift-knative-operator/pkg/common/job.go
  openshift-knative-operator/pkg/common/job_test.go
  openshift-knative-operator/pkg/eventing/extension.go
  test/e2e/knative_eventing_test.go
  test/e2ekafka/knative_kafka_test.go
  test/upgrade/verify_jobs.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVCOM-3200] Bring up the hookserver (#2792)
  knative-operator/cmd/manager/main.go
Due: serverless-ingress-on-push

[release-1.33] Remove TTLSecondsAfterFinished from Eventing jobs (#2790)
  knative-operator/pkg/controller/knativekafka/knativekafka_controller.go
  openshift-knative-operator/pkg/common/job.go
  openshift-knative-operator/pkg/common/job_test.go
  openshift-knative-operator/pkg/eventing/extension.go
  test/e2e/knative_eventing_test.go
  test/e2ekafka/knative_kafka_test.go
  test/upgrade/verify_jobs.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.33] [SRVCOM-3200] Bring up the hookserver (#2793)
  knative-operator/cmd/manager/main.go
Due: serverless-ingress-on-push

Remove toolchain in go.mod
  go.mod
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Don't update go version in go.mod
  go.mod
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Bump Golang version to 1.22 in CI image
  knative-operator/Dockerfile
  olm-catalog/serverless-operator/project.yaml
  openshift-knative-operator/Dockerfile
  openshift/ci-operator/build-image/Dockerfile
  serving/ingress/Dockerfile
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

clean up old leases
  openshift-knative-operator/pkg/serving/extension.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Use shared golang setup
  .github/workflows/bump.yaml
  .github/workflows/dependabot-deps.yaml
  .github/workflows/release-generate-ci.yaml
  .github/workflows/validate-release-promotion.yaml
  .github/workflows/validate.yaml
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Include 1.33.1 in upgrade sequence for kitchensink upgrade tests
  olm-catalog/serverless-operator/project.yaml
Due: none

Use existing OCP golang image
  openshift-knative-operator/Dockerfile
  openshift/ci-operator/build-image/Dockerfile
  serving/ingress/Dockerfile
  templates/build-image.Dockerfile
  templates/openshift-knative-operator.Dockerfile
  templates/serving-ingress.Dockerfile
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Support building operator with any dependencies artifacts and tag
  hack/generate/csv.sh
  hack/lib/images.bash
  hack/lib/vars.bash
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Fix 1 more image ref
  knative-operator/Dockerfile
  templates/knative-operator.Dockerfile
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Support building operator with any dependencies artifacts and tag (#2799)
  hack/generate/csv.sh
  hack/lib/images.bash
  hack/lib/vars.bash
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Include 1.33.1 in upgrade sequence for kitchensink upgrade tests (#2798)
  olm-catalog/serverless-operator/project.yaml
Due: none

Remove redundant `eventing` suffix from Eventing jobs
  hack/patches/018-remove_eventing_suffix_from_jobs.patch
  vendor/knative.dev/operator/pkg/reconciler/common/job.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Upgrade tests also validate batch jobs
  test/upgrade/upgrade_test.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Fix lint
  test/upgrade/upgrade_test.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Remove TTL validation for Serving
  test/upgrade/upgrade_test.go
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

increase cluster size for kitchensink
  Makefile
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Remove upgrade_sequence from project.yaml
  hack/cmd/bumpso/bumpso.go
  hack/lib/serverless.bash
  olm-catalog/serverless-operator/project.yaml
  test/lib.bash
Due: serverless-ingress-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
