Repository openshift-knative/serverless-operator: changes, and which Tekton pipelines are due for each by the changed paths.
All: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

serverless-bundle-137-on-push:
  params:
  - name: dockerfile
    value: olm-catalog/serverless-operator/Dockerfile
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_9_golang_1.24
  ...

serverless-index-135-fbc-413-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.13
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-414-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.14
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-135-fbc-415-on-pull-request:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.15
  - name: build-args
    value:
    - VERSION=1.35.0
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-index-135-fbc-417-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.17
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
  ...

serverless-index-137-fbc-420-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.20
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts:v4.14
  ...

serverless-index-138-fbc-416-on-push:
  params:
  - name: dockerfile
    value: Dockerfile
  - name: path-context
    value: ./olm-catalog/serverless-operator-index/v4.16
  - name: build-args
    value:
    - VERSION=1.37.0
    - CLI_ARTIFACTS=registry.redhat.io/openshift4/ose-cli-artifacts-rhel9:v4.16
  ...

serverless-ingress-135-on-pull-request:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: build-args
    value:
    - VERSION=1.35.0
    - MUSTGATHER=brew.registry.redhat.io/rh-osbs/openshift-ose-must-gather:v4.13
    - GO_BUILDER=brew.registry.redhat.io/rh-osbs/openshift-golang-builder:rhel_8_golang_1.22
  ...

serverless-ingress-on-push:
  params:
  - name: dockerfile
    value: serving/ingress/Dockerfile
  - name: git-url
    value: '{{source_url}}'
  - name: output-image
    value: quay.io/redhat-user-workloads/ocp-serverless-tenant/serverless-operator-konflux/serverless-ingress:{{revision}}
  - name: revision
    value: '{{revision}}'
  ...

Exclude revive check on package names
  .golangci.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Fix linter issue
  test/servinge2e/encryption/encryption_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Exclude revive check on package names which conflict with std library
  .golangci.yaml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update golanglint-ci to v2 (#3980)
  .github/workflows/validate.yaml
  .golangci.yaml
  test/servinge2e/encryption/encryption_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-138-pull-request.yaml
  .tekton/serverless-bundle-138-push.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
  .tekton/serverless-ingress-138-pull-request.yaml
  .tekton/serverless-ingress-138-push.yaml
  .tekton/serverless-kn-operator-138-pull-request.yaml
  .tekton/serverless-kn-operator-138-push.yaml
  .tekton/serverless-metadata-webhook-138-pull-request.yaml
  .tekton/serverless-metadata-webhook-138-push.yaml
  .tekton/serverless-must-gather-138-pull-request.yaml
  .tekton/serverless-must-gather-138-push.yaml
  .tekton/serverless-openshift-kn-operator-138-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-138-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.38] Sync Konflux configurations (#3887)
  .tekton/bundle-build.yaml
  .tekton/docker-build.yaml
  .tekton/fbc-builder.yaml
  .tekton/serverless-bundle-138-pull-request.yaml
  .tekton/serverless-bundle-138-push.yaml
  .tekton/serverless-index-138-fbc-416-pull-request.yaml
  .tekton/serverless-index-138-fbc-416-push.yaml
  .tekton/serverless-index-138-fbc-417-pull-request.yaml
  .tekton/serverless-index-138-fbc-417-push.yaml
  .tekton/serverless-index-138-fbc-418-pull-request.yaml
  .tekton/serverless-index-138-fbc-418-push.yaml
  .tekton/serverless-index-138-fbc-419-pull-request.yaml
  .tekton/serverless-index-138-fbc-419-push.yaml
  .tekton/serverless-index-138-fbc-420-pull-request.yaml
  .tekton/serverless-index-138-fbc-420-push.yaml
  .tekton/serverless-index-138-fbc-421-pull-request.yaml
  .tekton/serverless-index-138-fbc-421-push.yaml
  .tekton/serverless-index-138-fbc-422-pull-request.yaml
  .tekton/serverless-index-138-fbc-422-push.yaml
  .tekton/serverless-ingress-138-pull-request.yaml
  .tekton/serverless-ingress-138-push.yaml
  .tekton/serverless-kn-operator-138-pull-request.yaml
  .tekton/serverless-kn-operator-138-push.yaml
  .tekton/serverless-metadata-webhook-138-pull-request.yaml
  .tekton/serverless-metadata-webhook-138-push.yaml
  .tekton/serverless-must-gather-138-pull-request.yaml
  .tekton/serverless-must-gather-138-push.yaml
  .tekton/serverless-openshift-kn-operator-138-pull-request.yaml
  .tekton/serverless-openshift-kn-operator-138-push.yaml
Due: serverless-bundle-137-on-push, serverless-index-135-fbc-413-on-pull-request, serverless-index-135-fbc-414-on-pull-request, serverless-index-135-fbc-415-on-pull-request, serverless-index-135-fbc-417-on-push, serverless-index-137-fbc-420-on-push, serverless-index-138-fbc-416-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update to Golang 1.25 (#3979)
  go.mod
  knative-operator/Dockerfile
  openshift-knative-operator/Dockerfile
  serving/ingress/Dockerfile
  serving/metadata-webhook/Dockerfile
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Rerun `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/ingress/latest/kourier/1-net-kourier.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[SRVCOM-4100] add OLMv1 support to build scripts
  hack/dev.sh
  hack/install.sh
  hack/lib/__sources__.bash
  hack/lib/catalog.bash
  hack/lib/catalogsource.bash
  hack/lib/olmv0_catalog.bash
  hack/lib/olmv1_catalog.bash
  hack/lib/serverless.bash
  hack/lib/vars.bash
  hack/teardown.sh
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Fix ConfigMap checksum corruption from image replacement
  hack/lib/common.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-serving/latest/2-serving-core.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update gotestsum to v1.13.0 for Go 1.25 compatibility
  hack/patches/024-gotestsum-version-go125-compat.patch
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `hack/update-deps.sh`
  vendor/knative.dev/hack/library.sh
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Fix previous version setting in project.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Migrate tracing from Zipkin to OpenTelemetry
  hack/lib/tracing.bash
  olm-catalog/serverless-operator/manifests/config-observability.yaml
  test/servinge2e/tracing_test.go
  test/v1beta1/resources/operator.knative.dev_v1beta1_knativeserving_cr.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Add auth-proxy image reference to CSV
  hack/generate/csv.sh
  hack/lib/images.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Bump eventing components to 1.21
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Run `make generated-files`
  knative-operator/deploy/resources/knativekafka/broker/eventing-kafka-broker.yaml
  knative-operator/deploy/resources/knativekafka/channel/eventing-kafka-channel.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-controller.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-post-install.yaml
  knative-operator/deploy/resources/knativekafka/sink/eventing-kafka-sink.yaml
  knative-operator/deploy/resources/knativekafka/source/eventing-kafka-source.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-backstage-plugins-eventmesh-backend.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-istio-controller.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/3-in-memory-channel.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/4-mt-channel-broker.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/5-eventing-post-install.yaml
  openshift/ci-operator/source-image/Dockerfile
  test/images-rekt.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Add requestreply image
  hack/generate/csv.sh
  hack/lib/images.bash
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Update wathola config to OTEL
  test/upgrade/continual/channel-config.toml
  test/upgrade/continual/kafka-broker-config.toml
  test/upgrade/continual/kafka-sink-source-config.toml
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Bump eventing components to 1.21 (#3981)
  hack/generate/csv.sh
  hack/lib/images.bash
  knative-operator/deploy/resources/knativekafka/broker/eventing-kafka-broker.yaml
  knative-operator/deploy/resources/knativekafka/channel/eventing-kafka-channel.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-controller.yaml
  knative-operator/deploy/resources/knativekafka/controller/eventing-kafka-post-install.yaml
  knative-operator/deploy/resources/knativekafka/sink/eventing-kafka-sink.yaml
  knative-operator/deploy/resources/knativekafka/source/eventing-kafka-source.yaml
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-backstage-plugins-eventmesh-backend.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-crds.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/1-eventing-istio-controller.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/2-eventing-core.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/3-in-memory-channel.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/4-mt-channel-broker.yaml
  openshift-knative-operator/cmd/openshift-knative-operator/kodata/knative-eventing/latest/5-eventing-post-install.yaml
  openshift/ci-operator/source-image/Dockerfile
  test/images-rekt.yaml
  test/upgrade/continual/channel-config.toml
  test/upgrade/continual/kafka-broker-config.toml
  test/upgrade/continual/kafka-sink-source-config.toml
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Bump CLI components and operator to 1.21
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Adjust operator patches
  olm-catalog/serverless-operator/hack/001-eventing-sinkbinding-default-override
  olm-catalog/serverless-operator/hack/002-serving-drop-unsupported-fields.patch
  olm-catalog/serverless-operator/hack/003-eventing-drop-unsupported-fields.patch
  olm-catalog/serverless-operator/hack/004-eventing-drop-unsupported-sources.patch
  olm-catalog/serverless-operator/hack/005-drop-namespace-override.patch
Due: serverless-bundle-137-on-push

don't assume MAP_TESTS is set
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4072, optionally map junit testsuite names for lp-interop reporting tool
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/operator_v1beta1_knativeeventing_crd.yaml
  olm-catalog/serverless-operator/manifests/operator_v1beta1_knativeserving_crd.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
Due: serverless-bundle-137-on-push

Bump cli components and operator to 1.21 (#3982)
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/hack/001-eventing-sinkbinding-default-override
  olm-catalog/serverless-operator/hack/002-serving-drop-unsupported-fields.patch
  olm-catalog/serverless-operator/hack/003-eventing-drop-unsupported-fields.patch
  olm-catalog/serverless-operator/hack/004-eventing-drop-unsupported-sources.patch
  olm-catalog/serverless-operator/hack/005-drop-namespace-override.patch
  olm-catalog/serverless-operator/manifests/operator_v1beta1_knativeeventing_crd.yaml
  olm-catalog/serverless-operator/manifests/operator_v1beta1_knativeserving_crd.yaml
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  olm-catalog/serverless-operator/project.yaml
Due: serverless-bundle-137-on-push

Update patches
  hack/patches/020-backstage_plugins_eventmesh_backend.patch
  hack/patches/022-serving-ingress-ns-filter.patch
  hack/patches/023-knative-operator-k8s-1.31-downgrade-fix.patch
  hack/patches/024-gotestsum-version-go125-compat.patch
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `update-deps.sh` with updated patches
  vendor/github.com/manifestival/manifestival/manifestival.go
  vendor/knative.dev/eventing/test/lib/recordevents/resources.go
  vendor/knative.dev/operator/pkg/apis/operator/v1beta1/knativeeventing_lifecycle.go
  vendor/knative.dev/operator/pkg/apis/operator/v1beta1/knativeserving_lifecycle.go
  vendor/knative.dev/operator/pkg/reconciler/common/job.go
  vendor/knative.dev/operator/pkg/reconciler/common/releases.go
  vendor/knative.dev/operator/pkg/reconciler/knativeeventing/controller.go
  vendor/knative.dev/operator/pkg/reconciler/knativeeventing/eventing_backstage_plugin.go
  vendor/knative.dev/operator/pkg/reconciler/knativeeventing/knativeeventing.go
  vendor/knative.dev/operator/pkg/reconciler/knativeserving/knativeserving.go
  vendor/knative.dev/pkg/environment/client_config.go
  vendor/knative.dev/pkg/test/helpers/name.go
  vendor/knative.dev/pkg/test/spoof/openshift_checks.go
  vendor/knative.dev/pkg/test/spoof/spoof.go
  vendor/knative.dev/pkg/webhook/resourcesemantics/conversion/reconciler.go
  vendor/knative.dev/reconciler-test/pkg/feature/feature.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Run `make generated-files`
  olm-catalog/serverless-operator-index/Dockerfile
  olm-catalog/serverless-operator/manifests/serverless-operator.clusterserviceversion.yaml
  pkg/client/config/injection/informers/config/v1/clusterimagepolicy/clusterimagepolicy.go
  pkg/client/config/injection/informers/config/v1/clusterimagepolicy/fake/fake.go
  pkg/client/config/injection/informers/config/v1/clusterimagepolicy/filtered/clusterimagepolicy.go
  pkg/client/config/injection/informers/config/v1/clusterimagepolicy/filtered/fake/fake.go
  pkg/client/config/injection/informers/config/v1/imagepolicy/fake/fake.go
  pkg/client/config/injection/informers/config/v1/imagepolicy/filtered/fake/fake.go
  pkg/client/config/injection/informers/config/v1/imagepolicy/filtered/imagepolicy.go
  pkg/client/config/injection/informers/config/v1/imagepolicy/imagepolicy.go
  pkg/client/config/injection/informers/config/v1/insightsdatagather/fake/fake.go
  pkg/client/config/injection/informers/config/v1/insightsdatagather/filtered/fake/fake.go
  pkg/client/config/injection/informers/config/v1/insightsdatagather/filtered/insightsdatagather.go
  pkg/client/config/injection/informers/config/v1/insightsdatagather/insightsdatagather.go
Due: serverless-bundle-137-on-push, serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

[release-1.37] SRVCOM-4072, optionally map junit testsuite names for lp-interop reporting tool (#3983)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4072, also copy junit xmls to SHARED_DIR for the reportportal (#3977)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4072, also copy junit xmls to SHARED_DIR for the reportportal
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Fix unit tests for k8s.io v0.35.1 and controller-runtime v0.23.1
  knative-operator/pkg/controller/knativeserving/knativeserving_controller_test.go
  knative-operator/pkg/monitoring/monitoring_kafka_test.go
  knative-operator/pkg/monitoring/sources/source_deployment_discovery_controller.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push

Replace WithTracingConfig with WithObservabilityConfig
  test/eventinge2erekt/channelbasedbroker_ksvc_test.go
  test/eventinge2erekt/eventtransform_ksvc_test.go
  test/eventinge2erekt/main_test.go
  test/eventinge2erekt/servicemesh/main_test.go
  test/extensione2erekt/main_test.go
  test/extensione2erekt/servicemesh/main_test.go
  test/extensione2erekt/servicemesh/multitenant_test.go
  test/kitchensinke2e/main_test.go
  test/soak/main_test.go
  test/upgrade/kitchensink/kitchensink.go
  test/upgrade/upgrade_test.go
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

SRVCOM-4072, also copy junit xmls to SHARED_DIR for the reportportal (#3985)
  test/lib.bash
Due: serverless-ingress-135-on-pull-request, serverless-ingress-on-push, serverless-kn-operator-135-on-push, serverless-must-gather-135-on-pull-request, serverless-must-gather-137-on-push, serverless-openshift-knative-operator-on-pull-request

Path conditions:
  serverless-bundle-137-on-push: (any of: ^olm-catalog/serverless-operator/) or (any of: ^.tekton/)
  serverless-index-135-fbc-413-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.13/) or (any of: ^.tekton/)
  serverless-index-135-fbc-414-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.14/) or (any of: ^.tekton/)
  serverless-index-135-fbc-415-on-pull-request: (any of: ^olm-catalog/serverless-operator-index/v4.15/) or (any of: ^.tekton/)
  serverless-index-135-fbc-417-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.17/) or (any of: ^.tekton/)
  serverless-index-137-fbc-420-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.20/) or (any of: ^.tekton/)
  serverless-index-138-fbc-416-on-push: (any of: ^olm-catalog/serverless-operator-index/v4.16/) or (any of: ^.tekton/)
  serverless-ingress-135-on-pull-request: any file but: ^olm-catalog/
  serverless-ingress-on-push: any file but: ^olm-catalog/
  serverless-kn-operator-135-on-push: any file but: ^olm-catalog/
  serverless-must-gather-135-on-pull-request: any file but: ^olm-catalog/
  serverless-must-gather-137-on-push: any of: not (^olm-catalog/), but not: ^.konflux-release/
  serverless-openshift-knative-operator-on-pull-request: any file but: ^olm-catalog/|^knative-operator/
